/*Colors: light blue (#118DF0) dark blue (#0E2F56) pink (#FF304F) cream (#ECECDA)*/


body    {margin:0;
        padding:0;
        background-color: #ECECDA;
}
header  { 
        width:800px;
        height:250px;
        margin-left:auto;
        margin-right:auto;
        border-width:2px;
        border-style:solid;
        border-color:#0E2F56;
        }
section{
    height:350px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
}
h2  {
    font-family: 'Poiret One', sans-serif;
    color: #0E2F56;
    font-size: 36pt;
    line-height: 10px;
}
h1      {
        font-family: 'Poiret One', sans-serif;
        color: #118DF0;
        font-size: 28pt;
        }
#column1 {
        margin-left:;
        width: 30%; 
        float: left; 
        padding-right: 30%;
        }
#column2 {width: 30%; 
        float:left; 
        }
nav {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
    color: #0E2F56;
    font-size: 15pt;
    }
a:link   {
    color:#FF304F;
    text-decoration:none;
    }
a:visited  {
    color:#FF304F;
    text-decoration:none;
    }
a:hover{
    color: #0E2F56;
}

img   {
        width:75px;
		height:75px;
		margin-left:auto;
		margin-right:auto;
		}
footer  {
        text-align: center;
        background-color: #0E2F56;
        bottom:0px;
        position:absolute;
        width: 100%;
        
}